* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Caption', 'Arial', sans-serif;
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}