.footer {
    flex-shrink: 0;
    margin-top: 5rem;
    background-color: rgb(10, 10, 10);
    color: azure;
    padding: 1rem 1rem;
    text-align: center;
}

.footer-text {
    font-size: 1.8rem;
    font-weight: 400;
    color: azure;
    text-align: center;
    margin-bottom: 2rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link {
    color: blue;
    text-decoration: none;
    display: block;
}

.footer-link:hover {
    text-decoration: underline;
}