.workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

.workspace__input {
    display: none;
}

.workspace__button {
    background-color: blueviolet;
    border: none;
    color: azure;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.workspace__button--reveal {
    display: none;
}

.workspace__button:hover {
    background-color: rgb(104, 32, 172);
}

.workspace__image-wrapper {
    max-width: 90vw;
    max-height: 90vh;
    border: 0.15rem solid azure;
    position: relative;
    overflow: hidden;
}

.workspace__image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.workspace__image-wrapper:hover::after {
    opacity: 0;
}

.workspace__image {
    width: 100%;
    display: none;
}